#header h1 {
  font-size: 2rem;
  color: color(lpurple);
  word-spacing: 5rem;
  letter-spacing: 2rem;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: $fontheader;
}

#navbar a {
  text-decoration: none;
}
