#header h1 {
  font-size: 2rem;
  color: color(lpurple);
  word-spacing: 3rem;
  letter-spacing: 2rem;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: $fontheader;
  font-weight: bold;
}

#navbar a {
  font-style: italic;
  font-weight: bold;
}

.post {
  text-align: center;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}
