$colors: (
  dbrown: #66240f,
  /* background*/ vpink: #ffcccc,
  /* boxes*/ dred: #990000,
  /* top top*/ lpurple: #9c597a,
  /* text*/ pink: #e0a3ad,
  /* second header*/
);

$fontheader: ("Sansita Swashed", cursive);
$fontText: ("Hind Guntur");
