$colors: (
  /*background*/ green: #004a38,
  /* posts*/ beige: #fff0dd,
  /* nav*/ orange: #ffb619,
  /* header*/ tope: #725454,
  /* text*/ coral: #e6415c,
  /* second header*/ nav: #362053,
  /**/ yellow: #ffeb91
);

$fontheader: "Sansita Swashed", cursive;
$fontText: "Hind Guntur";
