@import "_variables.scss";
@import "_text.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(dbrown);
  font-family: $fontext;
  border-radius: 20%;
}

#header {
  background-color: color(dred);
  padding: 2em;
  margin: auto;
  word-spacing: 20px;
  letter-spacing: 9px;
  text-align: center;
  color: white;
  font-size: 2vh;
}

#navbar {
  background-color: color(pink);
  margin: 0 10%;
  word-spacing: 30vh;
  text-decoration: none;
}

#navbar ul {
  text-align: center;
  padding: 20px;
  list-style: none;
}

#navbar li {
  display: inline;
  font-size: 5vh;
  text-shadow: 1px 1px 0 #333;
}

.container {
}

.post {
  display: flex;
  background-color: color(vpink);
  width: 50%;
  padding: 3vh;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
}

.post1 {
  border-radius: 15px;
}

.post1 img {
}

.post2 img {
  padding: 5px;
  width: 50%;
  height: 40%;
}

.post3 img {
  padding: 5px;
  width: 50%;
  height: 40%;
}

.more {
  background-color: color(dbrown);
  color: color(white);
  padding: 20px;
}
