@import "_variables.scss";
@import "_text.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(dbrown);
  font-family: $fontText;
  margin: auto;
}

#header {
  background-color: color(dred);
  padding: 1rem;
  margin: auto;
}

#navbar {
  background-color: color(pink);
  margin: 0 7rem;
  word-spacing: 30vh;
  border-radius: 30%;
}

#navbar ul {
  text-align: center;
  padding: 1rem;
  list-style: none;
}

#navbar li {
  display: inline;
  font-size: 5vh;
  text-shadow: 1px 1px 0 #333;
}

.post {
  display: flex;
  background-color: color(vpink);
  width: 50%;
  padding: 3vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.bad-img {
  padding: 5px;
  width: 50%;
}

.good-img {
  padding: 5px;
  width: 50%;
}

.more {
  background-color: color(dbrown);
  color: color(white);
  padding: 20px;
}
