@import "_variables.scss";
@import "_text.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(green);
  font-family: $fontText;
  margin: auto;
  color: color(tope);
}

#header {
  background-color: color(orange);
  padding: 1rem;
  margin: auto;
}

#navbar {
  background-color: color(yellow);
  margin: 0 7rem;
  word-spacing: 30vh;
  border-radius: 10%;
}

#navbar ul {
  text-align: center;
  padding: 1rem;
  list-style: none;
}

#navbar li {
  display: inline;
  font-size: 5vh;
  text-shadow: 2px 2px 0 #333;
}
#navbar a {
  color: color(coral);
  text-decoration: none;
  text-decoration-color: chocolate;
  &:hover {
    color: goldenrod;
  }
}

.post {
  display: flex;
  background-color: color(beige);
  width: 40%;
  padding: 3vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  margin: 3% 30%;
}
img {
  padding-bottom: 1rem;
  width: 50%;
}

.more {
  background-color: color(nav);
  border-radius: 10%;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-style: italic;
  font-weight: bold;
  &:hover {
    color: turquoise;
  }
}
